.cart-accordion {
  background-color: white;
  position: absolute;
  top: 70px;
  right: 50px;
}

.media {
  width: 200px;
  display: inline-flex;
}

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  button {
    background-color: #4caf50; /* Green */
    border: none;
    color: white;
    margin-top: 5px;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-right: 7px;
  }

  .edit {
    display: flex;
    flex-direction: column;
    h3 {
      margin-right: 8px;
    }
    .edit-info {
      display: inline-flex;
      justify-content: space-evenly;
    }
    .edit-buttons {
      display: inline-flex;
    }
  }
}
