.navbar {
  position: fixed;
  z-index: 2;
  display: flex;
  display: flex;
  justify-content: space-around;
  // align-items: flex-start;
  background-color: rgb(19, 18, 18);
  height: 70px;
  width: 100%;
  text-decoration: none;
}

.form a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 1em;
  color: whitesmoke;
}

.form a:hover {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: rgb(189, 158, 100);
  border: rgb(189, 158, 100) 2px solid;
  border-radius: 5px;
  padding: 5px;
}

.productos a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 1em;
  color: whitesmoke;
}

.productos a:not(.nohover):hover {
  color: rgb(189, 158, 100);
  border: rgb(189, 158, 100) 2px solid;
  border-radius: 5px;
  padding: 5px;
}

.titulo a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  font-family: cursive;
  font-size: 0.9em;
  margin-left: -3rem;
  color: whitesmoke;
  width: 250px;
  height: 70px;
}

.productos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
  margin-left: 7.5rem;

  input {
    outline: none;
    border-radius: 0.5rem;
    width: 25rem;
    margin: 0 5rem;
    padding: 0.4em 0;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 1em;
    font-weight: 500;
  }

  input:focus {
    border: 3px solid rgb(189, 158, 100);
  }

  input::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    // color: whitesmoke;
    text-align: center;
    font-size: 1.2em;
  }
}

.carrito {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.3;
  width: 5rem;
  height: 5rem;
}

.bg-cart {
  background-color: rgb(189, 158, 100);
}

.log {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

i {
  font-size: 2em;
  color: whitesmoke;
}

.btn-group {
  display: flex;
  text-align: center;
}

.boton-despliegue {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 0rem;
  background-color: rgb(19, 18, 18);
  font-size: 1em;
  text-align: center;
}

.boton-despliegue:hover {
  color: rgb(189, 158, 100);
  border: rgb(189, 158, 100) 2px solid;
  border-radius: 5px;
}

.dropdown-menu {
  width: 13.7rem;
  background-color: rgb(19, 18, 18);
  font-size: 1em;
  border-bottom-left-radius: 0.7rem;
  border-bottom-right-radius: 0.7rem;
  
  hr {
    color: rgb(189, 158, 100);
  }
  
  .dropdown-item {
    background-color: rgb(19, 18, 18);
    color: rgb(189, 158, 100);
    font-weight: bold;
    margin: 0;
  }
}
