.navbar {
  position: fixed;
  z-index: 2;
  display: flex;
  display: flex;
  justify-content: space-around;
  // align-items: flex-start;
  background-color: rgb(19, 18, 18);
  height: 70px;
  width: 100%;
  text-decoration: none;
}

.form a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 1em;
  color: whitesmoke;
}

.form a:hover {
  color: rgb(189, 158, 100);
  border: rgb(189, 158, 100) 2px solid;
  border-radius: 5px;
  padding: 5px;
}

.dropdown a {
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 1em;
  color: whitesmoke;
}

.dropdown a:hover {
  color: rgb(189, 158, 100);
  border: rgb(189, 158, 100) 2px solid;
  border-radius: 5px;
  padding: 5px;
}

.titulo a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 1em;
  color: whitesmoke;
  width: 200px;
  height: 70px;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
}

.carrito {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.3;
  width: 5rem;
  height: 5rem;
  // background-color: red;
}

.log {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

i {
  font-size: 2em;
  color: whitesmoke;
}
