.grid-productos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}


.navbar {
  display: flex;
  justify-content: space-around;
  background-color: rgb(110, 93, 93);
  height: 70px;
  width: 100%;
  box-shadow: 0px -5px 10px 0px;
  text-decoration: none;

  a {
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 2em;
    color: whitesmoke;
    font-weight: bold;
  }
  
  a:hover {
    color:rgb(99, 52, 52);
    border: rgb(32, 31, 31) 2px solid;
    border-radius: 5px;
    padding: 5px;
  }
}

.cart {
  right: 0;
  width: 25%;

  
}


