<<<<<<< HEAD:varios/cart.scss
/* .cart-accordion {
  background-color: white;
=======

.cart-accordion {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #131212;
>>>>>>> dc0465699b5b05f261bea843a1b2a374741a5ffd:src/assets/style/cart.scss
  position: absolute;
  top: 68px;
  right: 0.05rem;
}

.media {
  width: 25rem;
  display: inline-flex;
  

  p {
    padding-left: 1rem;
    color: whitesmoke;
  }
}

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  button {
<<<<<<< HEAD:varios/cart.scss
    background-color: #4caf50;
=======
>>>>>>> dc0465699b5b05f261bea843a1b2a374741a5ffd:src/assets/style/cart.scss
    border: none;
    margin-top: 5px;
    padding: 5px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin-right: 7px;
 
 
  }

  

  .edit {
    display: flex;
    flex-direction: column;
    h3 {
      margin-right: 8px;
    }
    .edit-info {
      display: inline-flex;
      justify-content: space-evenly;
    }
    .edit-buttons {
      display: inline-flex;
    }
  }
} */
